name: Cargo Build & Test

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        toolchain: [1.83, stable, beta]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup toolchain
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
      - name: Run tests in release mode
        run: cargo test --verbose --release
      - name: Clippy
        run: rustup component add clippy && cargo clippy